.show-list{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: aqua;
    border: 1px solid grey;
    box-shadow: 0 0 10px lightgray;
}

.show-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.show-card {
    background-color: cyan;
    padding: 20px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px lightgoldenrodyellow;
}